SLOPSHIELD_HOST=0.0.0.0
SLOPSHIELD_PORT=3000
SLOPSHIELD_DB_PATH=./data/slopshield.sqlite3
SLOPSHIELD_ENGINE_VERSION=v1
SLOPSHIELD_ENGINE_URL=http://192.168.0.129:8765
SLOPSHIELD_WORKER_CONCURRENCY=2
SLOPSHIELD_ENGINE_TIMEOUT_MS=300000
